.card {
	margin: 10px;
	width: 40%;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 2.5rem;
	font-weight: 200;
}

.info {
	font-size: 0.8rem;
	color: lightgray;
}

@media screen and (max-width: 600px) {
	.card {
		width: 100%;
	}
}
